body{
    background-image: url(./images/bg06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: Consolas;
    font-size: 30px;
    text-align: center;
}

.input {
    table-layout: fixed;
    border: #0088ff 2px solid;
    width: 355px;
    height: 355px;
    background-color: #ffffff;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
}
.in_data {
    font-family: Consolas;
    font-size: 30px;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    margin: 0px;
    color: #0000ff;
}
td.input_x {
    border-right: #0088ff 1px solid;
    border-top: #0088ff 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td.input_r {
    border-right: #0066ee 2px solid;
    border-top: #0088ff 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td.input_t {
    border-right: #0088ff 1px solid;
    border-top: #0066ee 2px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td.input_tr {
	border-right: #0066ee 2px solid;
    border-top: #0066ee 2px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

button{
    font-family: Consolas;
    font-size:20px;
    background: #d3d3d3;
    border-style: outset;
    border-radius: 5px;
    border-color: #0088ff;
    border-width: 2px;
    color:#000000;
    width: auto;
    height: 40px;
    margin-top:5px;
}

.popup{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -120px;
    background: #ffffff;
    box-shadow: 2px 2px 10px #808080;
    border-radius: 10px;
    display: none;
}
label.title{
    position: absolute;
    background: transparent;
    font-family: Consolas;
    font-size: 25px;
    width: auto;
    height: auto;
    left: 5%;
    top:5%;
    margin-left: auto;
    margin-top: auto;
    
}
button.close{
    position: absolute;
    border:none;
    background: transparent;
    background-size:40px 40px;
    border-radius: 5px;
    background-image: url(buttons/close.svg);
    width: 40px;
    height: 40px;
    left: 85%;
    top: 4%;
}
button.close:hover{
    background-image: url(buttons/close_hover.svg);
}
img.msgIcon{
    position: absolute;
    background: transparent;
    width: 40px;
    height: 40px;
    left: 10%;
    top: 25%;
    background-image: url(msgIcons/info.svg);
    background-size: 40px 40px;
}
label.message{
    position: absolute;
    background: transparent;
    color: #303030;
    font-family: Consolas;
    font-size: 25px;
    width: 300px;
    height: 200px;
    left: 23%;
    top: 27%;
}
button.clear{
    position:absolute;
    font-family: Consolas;
    font-size: 22px;
    background: #0088ff;
    border:none;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    left: 30%;
    top: 80%;
    margin-top: auto;
    margin-left: auto;
    display: none;
}
button.clear:hover{
    background: #0066ff;
}
button.ok{
    position:absolute;
    font-family: Consolas;
    font-size: 22px;
    background: #0088ff;
    border:none;
    border-radius: 10px;
    width: 135px;
    height: 40px;
    left: 60%;
    top: 80%;
    margin-top: auto;
    margin-left: auto;
}
button.ok:hover{
    background: #0066ff;
}

.loading{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 3%;
    margin-left: -100px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #808080;
    opacity:0.9;
    display: none;
}
img.loadIcon{
    position: absolute;
    width: 35px;
    height:35px;
    left: 7%;
    top: 16%;
    background: transparent;
    background-image: url(msgIcons/loadGif.gif);
    background-size: 35px 35px;
}
label.loadLabel{
    position: absolute;
    left: 32%;
    top: 20%;
    font-family: Consolas;
    font-size: 23px;
    color: #303030;
}

button.setupbtn{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 1%;
    left: 1%;
    background-color: rgb(200,200,200);
    background-image: url(./buttons/setup.svg);
    background-size: 45px 45px;
    box-shadow: 2px 2px 10px #808080;
    border: none;
    border-radius: 7px;
    opacity: 0.7;
}
button.setupbtn:hover{
    background-color: rgb(235,235,235);
}
.setup{
    position: absolute;
    width: 350px;
    height: 690px;
    left: 0%;
    top: 0%;
    background: #7c7c7c;
    opacity: 0.8;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
label.setupLabel{
    position: absolute;
    left: 3%;
    top: 2.5%;
    font-family: Consolas;
    font-size: 23px;
    color: #000000;
}
button.hide{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85%;
    top: 1%;
    border: none;
    background-color: #7c7c7c;
    background-size: 40px 40px;
    border-radius: 5px;
    background-image: url(buttons/close_setup.svg);
}
button.hide:hover{
    background-color: #9b9b9b;
}
.splitLine{
    position: absolute;
    background: #bebebe;
    width: 270px;
    height: 3px;
    left: 2%;
    top: 8%;
    opacity: 0.6;
}
label.apperance{
    position: absolute;
    left: 6%;
    top: 9%;
    font-family: Consolas;
    font-size: 23px;
    color: #000000;
}
label.backgroundImage{
    position: absolute;
    left: 9%;
    top: 13%;
    font-family: Consolas;
    font-size: 20px;
    color: #000000;
}
img.currentBg{
    position: absolute;
    width: 240px;
    height: 195px;
    left: 10%;
    top: 17%;
    border-radius: 5px;
}
span.bgChoose{
    position: absolute;
    width: 50px;
    height: 180px;
    left: 79%;
    top: 16.25%;
    background: transparent;
}
button.bg1{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 1%;
    background-image: url(images/bg01.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg2{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 19%;
    background-image: url(images/bg02.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg3{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 37%;
    background-image: url(images/bg03.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg4{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 55%;
    background-image: url(images/bg04.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg5{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 73%;
    background-image: url(images/bg05.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg6{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 91%;
    background-image: url(images/bg06.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
a.imageUpload{
    position: relative;
    display: inline-block;
    width: 290px;
    height: 35px;
    left: 10%;
    top: 46%;
    font-family: Consolas;
    font-size: 20px;
    background: #abd8ff;
    border: 1px solid #0088ff;
    border-radius: 5px;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
    text-indent: 0;
}
a.imageUpload label{
    position: absolute;
    font-size: 22px;
    left: 25%;
    top: 8%;
    background: transparent;
    color: #000000;
}
a.imageUpload input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
a.imageUpload:hover{
    background: #60b5ff;
}
