body{
    background-image: url(./images/bg06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: Consolas;
    font-size: 30px;
    text-align: center;
}

.input {
    table-layout: fixed;
    border: #0088ff 2px solid;
    width: 355px;
    height: 355px;
    background-color: #ffffff;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
}
.in_data {
    font-family: Consolas;
    font-size: 30px;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    margin: 0px;
    color: #0000ff;
}
td.input_x {
    border-right: #0088ff 1px solid;
    border-top: #0088ff 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td.input_r {
    border-right: #0066ee 2px solid;
    border-top: #0088ff 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td.input_t {
    border-right: #0088ff 1px solid;
    border-top: #0066ee 2px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
td.input_tr {
	border-right: #0066ee 2px solid;
    border-top: #0066ee 2px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

button{
    font-family: Consolas;
    font-size:20px;
    background: #d3d3d3;
    border-style: outset;
    border-radius: 5px;
    border-color: #0088ff;
    border-width: 2px;
    color:#000000;
    width: auto;
    height: 40px;
    margin-top:5px;
}

.popup{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -120px;
    background: rgba(255,255,255,1);
    box-shadow: 2px 2px 10px #808080;
    border-radius: 10px;
    display: none;
}
label.title{
    position: absolute;
    background: transparent;
    font-family: Consolas;
    font-size: 25px;
    width: auto;
    height: auto;
    left: 5%;
    top:5%;
    margin-left: auto;
    margin-top: auto;
    
}
button.close{
    position: absolute;
    border:none;
    background: transparent;
    background-size:40px 40px;
    border-radius: 5px;
    background-image: url(buttons/close.svg);
    width: 40px;
    height: 40px;
    left: 85%;
    top: 4%;
}
button.close:hover{
    background-image: url(buttons/close_hover.svg);
}
img.msgIcon{
    position: absolute;
    background: transparent;
    width: 40px;
    height: 40px;
    left: 10%;
    top: 25%;
    background-image: url(msgIcons/info.svg);
    background-size: 40px 40px;
}
label.message{
    position: absolute;
    background: transparent;
    color: #303030;
    font-family: Consolas;
    font-size: 25px;
    width: 300px;
    height: 200px;
    left: 23%;
    top: 27%;
}
button.clear{
    position:absolute;
    font-family: Consolas;
    font-size: 22px;
    background: #0088ff;
    border:none;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    left: 30%;
    top: 80%;
    margin-top: auto;
    margin-left: auto;
    display: none;
}
button.clear:hover{
    background: #0066ff;
}
button.ok{
    position:absolute;
    font-family: Consolas;
    font-size: 22px;
    background: #0088ff;
    border:none;
    border-radius: 10px;
    width: 135px;
    height: 40px;
    left: 60%;
    top: 80%;
    margin-top: auto;
    margin-left: auto;
}
button.ok:hover{
    background: #0066ff;
}

.loading{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 3%;
    margin-left: -100px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #808080;
    opacity:0.9;
    display: none;
}
img.loadIcon{
    position: absolute;
    width: 35px;
    height:35px;
    left: 7%;
    top: 16%;
    background: transparent;
    background-image: url(msgIcons/loadGif.gif);
    background-size: 35px 35px;
}
label.loadLabel{
    position: absolute;
    left: 32%;
    top: 20%;
    font-family: Consolas;
    font-size: 23px;
    color: #303030;
}

button.setupbtn{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 1%;
    left: 1%;
    background-color: rgb(200,200,200);
    background-image: url(./buttons/setup.svg);
    background-size: 45px 45px;
    box-shadow: 2px 2px 10px #808080;
    border: none;
    border-radius: 7px;
    opacity: 0.7;
}
button.setupbtn:hover{
    background-color: rgb(235,235,235);
}
.setup{
    position: absolute;
    width: 350px;
    height: 100%;
    left: 0%;
    top: 0%;
    background: rgba(128,128,128,0.8);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
label.setupLabel{
    position: absolute;
    left: 3%;
    top: 2.5%;
    font-family: Consolas;
    font-size: 23px;
    color: #000000;
}
button.hideS{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85%;
    top: 1%;
    border: none;
    background-color: rgba(128,128,128,0.1);
    background-size: 40px 40px;
    border-radius: 5px;
    background-image: url(buttons/close_drawer.svg);
}
button.hideS:hover{
    background-color: rgba(128,128,128,0.5);
}
.splitLineSetup{
    position: absolute;
    background: #bebebe;
    width: 270px;
    height: 3px;
    left: 2%;
    top: 8%;
    opacity: 0.6;
}
label.apperance{
    position: absolute;
    left: 6%;
    top: 9%;
    font-family: Consolas;
    font-size: 23px;
    color: #000000;
}
label.backgroundImage{
    position: absolute;
    left: 9%;
    top: 13%;
    font-family: Consolas;
    font-size: 20px;
    color: #000000;
}
img.currentBg{
    position: absolute;
    width: 240px;
    height: 195px;
    left: 10%;
    top: 17%;
    border-radius: 5px;
}
span.bgChoose{
    position: absolute;
    width: 50px;
    height: 180px;
    left: 79%;
    top: 16.25%;
    background: transparent;
}
button.bg1{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 1%;
    background-image: url(images/bg01.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg2{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 19%;
    background-image: url(images/bg02.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg3{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 37%;
    background-image: url(images/bg03.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg4{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 55%;
    background-image: url(images/bg04.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg5{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 73%;
    background-image: url(images/bg05.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
button.bg6{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1%;
    top: 91%;
    background-image: url(images/bg06.jpg);
    background-size: 50px 30px;
    border: none;
    border-radius: 5px;
}
a.imageUpload{
    position: relative;
    display: inline-block;
    width: 290px;
    height: 35px;
    left: 10%;
    top: 46%;
    font-family: Consolas;
    font-size: 20px;
    background: #abd8ff;
    border: 1px solid #0088ff;
    border-radius: 5px;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
    text-indent: 0;
}
a.imageUpload label{
    position: absolute;
    font-size: 22px;
    left: 25%;
    top: 8%;
    background: transparent;
    color: #000000;
}
a.imageUpload input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
a.imageUpload:hover{
    background: #60b5ff;
}
label.opacity{
    position: absolute;
    left: 9%;
    top: 52%;
    font-family: Consolas;
    font-size: 20px;
    color: #000000;
}
label.setupOpacity{
    position: absolute;
    left: 10%;
    top: 55%;
    font-family: Consolas;
    font-size: 18px;
    color: #000000;
}
input.opacitySlide_setup{
    -webkit-appearance: none;
    position: absolute;
    width: 160px;
    height: 10px;
    left: 41%;
    top: 56%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#0088ff,#0088ff) no-repeat, #ececec;
    background-size: 80% 100%;
}
input.opacitySlide_setup:focus{
    outline: none;
}
input.opacitySlide_setup::-webkit-slider-thumb{
    -webkit-apperance: none;
    width: 20px;
    height: 20px;
    background: #0088ff;
    border-radius: 50%;
}
label.opacityShow_setup{
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    font-family: Consolas;
    left: 88%;
    top: 55.5%;
}

label.popupOpacity{
    position: absolute;
    left: 10%;
    top: 58%;
    font-family: Consolas;
    font-size: 18px;
    color: #000000;
}
input.opacitySlide_popup{
    -webkit-appearance: none;
    position: absolute;
    width: 190px;
    height: 10px;
    left: 33%;
    top: 59%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#0088ff,#0088ff) no-repeat, #ececec;
    background-size: 100% 100%;
}
input.opacitySlide_popup:focus{
    outline: none;
}
input.opacitySlide_popup::-webkit-slider-thumb{
    -webkit-apperance: none;
    width: 20px;
    height: 20px;
    background: #0088ff;
    border-radius: 50%;
}
label.opacityShow_popup{
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    font-family: Consolas;
    left: 88%;
    top: 58.5%;
}

label.historyOpacity{
    position: absolute;
    left: 10%;
    top: 61%;
    font-family: Consolas;
    font-size: 18px;
    color: #000000;
}
input.opacitySlide_history{
    -webkit-appearance: none;
    position: absolute;
    width: 140px;
    height: 10px;
    left: 46%;
    top: 62%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#0088ff,#0088ff) no-repeat, #ececec;
    background-size: 80% 100%;
}
input.opacitySlide_history:focus{
    outline: none;
}
input.opacitySlide_history::-webkit-slider-thumb{
    -webkit-apperance: none;
    width: 20px;
    height: 20px;
    background: #0088ff;
    border-radius: 50%;
}
label.opacityShow_history{
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    font-family: Consolas;
    left: 88%;
    top: 61.5%;
}

/* history page */
button.historybtn{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 1%;
    left: 5.5%;
    background-color: rgb(200,200,200);
    background-image: url(./buttons/history.svg);
    background-size: 45px 45px;
    box-shadow: 2px 2px 10px #808080;
    border: none;
    border-radius: 7px;
    opacity: 0.7;
}
button.historybtn:hover{
    background-color: rgb(235,235,235);
}
.history{
    position: absolute;
    width: 350px;
    height: 100%;
    left: 0%;
    top: 0%;
    background: rgba(128,128,128,0.8);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
label.historyLabel{
    position: absolute;
    left: 3%;
    top: 2.5%;
    font-family: Consolas;
    font-size: 22px;
    color: #000000;
}
button.hideH{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85%;
    top: 1%;
    border: none;
    background-color: rgba(128,128,128,0.1);
    background-size: 40px 40px;
    border-radius: 5px;
    background-image: url(buttons/close_drawer.svg);
}
button.hideH:hover{
    background-color: rgba(128,128,128,0.5);
}
.splitLineHistory{
    position: absolute;
    background: #bebebe;
    width: 280px;
    height: 3px;
    left: 2%;
    top: 8%;
    opacity: 0.6;
}

.histories{
    position: absolute;
    background: transparent;
    top: 10%;
    width: 100%;
    height: 89%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.histories::-webkit-scrollbar{
    -webkit-apperance: none;
    width: 10px;
    border-radius: 5px;
    background: #8d8d8d;
}
.histories::-webkit-scrollbar-track{
    -webkit-apperance: none;
    width: 10px;
    border-radius: 5px;
    background: #868686;
}
.histories::-webkit-scrollbar-thumb{
    -webkit-apperance: none;
    border-radius: 5px;
    background: #b9b9b9;
}
.histories::-webkit-scrollbar-thumb:hover{
    background: #dddddd;
}
.histories::-webkit-scrollbar-thumb:active{
    background: #e6e6e6;
}

/* copy table data */
.sudokuCopy{
    background: transparent;
    display: none;
    padding-top: 2px;
    padding-bottom: 2px;;
}
.tableCopy{
    table-layout: fixed;
    border: #0088ff 2px solid;
    width: 177px;
    height: 177px;
    background-color: #ffffff;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
}
.copy_data {
    font-family: Consolas;
    font-size: 15px;
    border: none;
    background-color: transparent;
    width: 25px;
    height: 25px;
    line-height: 14px;
    text-align: center;
    margin: 0px;
    color: #0000ff;
}
td.inputx_copy {
    border-right: #0088ff 1px solid;
    border-top: #0088ff 1px solid;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
td.inputr_copy {
    border-right: #0066ee 2px solid;
    border-top: #0088ff 1px solid;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
td.inputt_copy {
    border-right: #0088ff 1px solid;
    border-top: #0066ee 2px solid;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
td.inputtr_copy {
	border-right: #0066ee 2px solid;
    border-top: #0066ee 2px solid;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
button.showTopic{
    font-family: Consolas;
    font-size: 13px;
    background: #d3d3d3;
    border-style: outset;
    border-radius: 5px;
    border-color: #0088ff;
    border-width: 1px;
    color: #000000;
    width: auto;
    height: 25px;
    margin-top: 2px;
    margin-bottom:3px;
}
button.showTopic:hover{
    background: #e3e3e3;
}
button.showAnswer{
    font-family: Consolas;
    font-size: 13px;
    background: #d3d3d3;
    border-style: outset;
    border-radius: 5px;
    border-color: #0088ff;
    border-width: 1px;
    color: #000000;
    width: auto;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 3px;
}
button.showAnswer:hover{
    background: #e3e3e3;
}

button.infobtn{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 1%;
    left: 10%;
    background-color: rgb(200,200,200);
    background-image: url(./buttons/about.svg);
    background-size: 45px 45px;
    box-shadow: 2px 2px 10px #808080;
    border: none;
    border-radius: 7px;
    opacity: 0.7;
}
button.infobtn:hover{
    background-color: rgb(235,235,235);
}
.about{
    position: absolute;
    width: 350px;
    height: 100%;
    left: 0%;
    top: 0%;
    background: rgba(128,128,128,0.6);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
label.aboutLabel{
    position: absolute;
    left: 3%;
    top: 2.5%;
    font-family: Consolas;
    font-size: 22px;
    color: #000000;
}
button.hideA{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85%;
    top: 1%;
    border: none;
    background-color: rgba(128,128,128,0.1);
    background-size: 40px 40px;
    border-radius: 5px;
    background-image: url(buttons/close_drawer.svg);
}
button.hideA:hover{
    background-color: rgba(128,128,128,0.5);
}
.splitLineAbout{
    position: absolute;
    background: #bebebe;
    width: 280px;
    height: 3px;
    left: 2%;
    top: 8%;
    opacity: 0.6;
}
img.infoIcon{
    position: absolute;
    width: 330px;
    height: 260px;
    left: 2%;
    top: 9%;
    background: transparent;
}
span.information{
    position: absolute;
    width: 340px;
    height: 240px;
    left: 3%;
    top: 42%;
    background: transparent;
    font-family: Consolas;
}
label.spanTitle{
    position: absolute;
    width: 310px;
    left: 4%;
    top: 2%;
    background: transparent;
    font-family: Consolas;
    font-size: 30px;
}
label.versionLabel{
    position: absolute;
    left: 11%;
    top: 15%;
    background: transparent;
    font-family: Consolas;
    font-size: 27px;
}
label.label1{
    position: absolute;
    width: 340px;
    left: 0.5%;
    top: 30%;
    background: transparent;
    font-family: Consolas;
    font-size: 18px;
}
